.form {
  width: 400px;
  height: 150px;
  display: flex;
  flex-direction: column;
  border: 2px solid #656565;
  align-items: center;
}

.form_item {
  display: flex;
  flex-direction: column;
  padding-top: 5px;
  padding-left: 5px;
}

.form_input {
  width: 200px;
}

.form_btn {
  background-color: #656565;
  color: aqua;
  width: 130px;
  padding-left: 5px;
  margin-top: 15px;
}
