.list {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
}

.list_item {
  width: 265px;
  display: flex;
  justify-content: space-between;
  padding-top: 10px;
}

.list_btn {
  background-color: aliceblue;
  border-color: aqua;
  border-radius: 4px;
}
