.userMenu {
  display: flex;
  width: 135px;
}

.userName {
  margin-right: 10px;
}

.btn {
  border: none;
  border-radius: 6px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
}

.btn:hover {
  background-color: #f1c40f;
  cursor: auto;
}
